<div class="container-fluid" style="height: 100%; width: 100%; ">
  <div class="row">
    <div class=" col-5" style="height: 100vh; padding-top: 15vh; background-color: #0f2d4f;">
      <form id="api-test" style="margin: auto;" class="formd" [ngClass]="{'borderGreen': PostResult == '200', 'borderRed':PostResult=='500'}">
        <div id="success" *ngIf="PostResult == '200'" class="text-center fs-3 fw-bold" style="margin-top: -5%; color: greenyellow;">Success</div>
        <div id="failed" *ngIf="PostResult == '500'" class="text-center fs-3 fw-bold" style="margin-top: -5%; color: crimson;">Failed</div>

          <div>
              <div><label for="question">Question Title:</label></div>
              <input type="text" id="header" name="header" required style="width: 100%;">
          </div>
          <div>
              <div><label for="description">Question Answer:</label></div>
              <textarea type="text" id="description" name="description" required style="width: 100%; height: 20vh; resize: none; overflow-wrap: break-word;"></textarea>
          </div>
          <div>
              <div><label for="tags">Key Words:</label></div>
              <textarea type="text" id="tags" name="tags" placeholder="POD, Pay-On-Demand, Pay" style="width: 100%; height: 5vh; resize: none; overflow-wrap: break-word;"></textarea>
          </div>
          <div>
              <div><label for="category">Category:</label></div>
              <select id="category" name="category" required class="">
                  <option value="Payroll"> Payroll</option>
                  <option value="Payroll - Forms & Notices"> Payroll - Forms & Notices</option>
                  <option value="Hiring">Hiring</option>
                  <option value="Employees">Employees</option>
                  <option value="Schedule">Schedule</option>
                  <option value="Time & Labor">Time & Labor</option>
                  <option value="Human resources">Human resources</option>
                  <option value="Reports">Reports</option>
                  <option value="Setup - Security">Setup - Security</option>
                  <option value="Setup - System">Setup - System</option>
                  <option value="Setup - Company">Setup - Company</option>
                  <option value="Setup - Policies">Setup - Policies</option>
                  <option value="Billing">Billing</option>
                  <option value="Clock">Clock</option>
              </select>

              <div class="text-center mt-3" *ngIf="submissiontype == 'new'">
                <div (click)="NewQuestion()" class="btn bg-primary text-white">Submit</div>
              </div>
              <div class="text-center mt-3" *ngIf="submissiontype == 'update'">
                <div (click)="UpdateQuestion()" class="btn bg-primary text-white">Update</div>
              </div>


          </div>
      </form>
    </div>
    <div class="col-7" style="max-height: 100vh; overflow: scroll; overflow-x: hidden;" >
      <h3 class="text-center mt-3 mb-5 text-decoration-underline">Previous Questions</h3>
      <div style="position: sticky; top: 0;" class="w-100 bg-white">
        <input id="search" type="text" placeholder="Search..." (change)="search()" class="w-50 my-3">
      </div>
      
      <div class="container">
        <div class="d-flex justify-content-center" *ngIf="loading == true">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        <div class="row border1 mb-3 mt-1 p-2" *ngFor="let item of FilteredData" (click)="QuestionClick(item)">
          <div class="col-9 fw-bold fs-3 d-none d-xxl-block">{{item.header}}</div>
          <div class="col-9 fw-bold fs-5 d-none d-sm-block d-xxl-none">{{item.header}}</div>
          <div class="col-3"><b>KeyWords: </b>{{item.tags}}</div>
          <div class="row mt-3">
            <div class="col-12">{{item.description}}</div>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>
