.borderGreen{
    border: 4px solid greenyellow;
}
.borderRed{
    border: 4px solid crimson;
}
.questionList{
    display: inline-block;
    width: 48vw;
    height: 100vh;
    background-color: lightblue;
}